<span *ngIf="!authenticated">
  <a href="http://localhost:8080/signin/google">login</a>
  <a href="http://localhost:8080/logout">logout</a>
  <button md-icon-button (click)="signout();"><i class="fa fa-sign-out fa-2x"></i></button>
  <span class="sign-in-label">Sign in with</span>
  <button md-icon-button><i class="fa fa-github fa-2x"></i></button>
  <button md-icon-button (click)="signin('google');"><i class="fa fa-google fa-2x"></i></button>

</span>
<span *ngIf="authenticated">
  <span>Welcome</span>
  <button md-icon-button (click)="signout();"><i class="fa fa-sign-out fa-2x"></i></button>
</span>
