<span *ngIf="!authenticated">
  <button md-icon-button (click)="signout();"><i class="fa fa-sign-out fa-2x"></i></button>
  <span class="sign-in-label">Sign in with</span>
  <button md-icon-button><i class="fa fa-github fa-2x"></i></button>
  <button md-icon-button (click)="signin('google');"><i class="fa fa-google fa-2x"></i></button>
</span>
<span *ngIf="authenticated">
  <span>Welcome {{principal.name}}</span>
  <span id="span-profile-img" style="padding-right: 5px">
    <img id="profile-img" src="{{principal.pictureUrl}}" class="img-circle" alt="profile image" width="33" height="33">
  </span>
  <button md-icon-button (click)="signout();"><i class="fa fa-sign-out fa-2x"></i></button>
</span>
