<md-toolbar-row>
  <md-toolbar color="primary">
    <div fxLayout="row" fxFlexFill>
      <div fxFlex="none" fxFlexAlign="center">
        FENERGY
      </div>
      <app-site-list fxFlex="nogrow" fxFlexOffset="1" fxFlexAlign="center"></app-site-list>
      <div fxFlex="nogrow" fxFlexOffset="1" fxFlexAlign="center">
        <button md-icon-button (click)="openNem12UploadDialog();"><i class="material-icons">file_upload</i></button>
      </div>
      <div fxFlex></div>
      <app-sign-in fxFlex="nogrow" fxFlexAlign="center"></app-sign-in>
    </div>
  </md-toolbar>
</md-toolbar-row>
