<md-tab-group>

  <md-tab label="Dashboard">
    <div fxLayout="column">
      <div fxFlex="grow" fxFlexOffset="2">
        <app-dashboard></app-dashboard>
      </div>
    </div>
  </md-tab>

  <md-tab label="Consumption">
    <div fxLayout="column">
      <div fxFlex="grow" fxFlexOffset="2">
        <app-usage-detail></app-usage-detail>
      </div>
    </div>
  </md-tab>

  <md-tab label="Solar">
    <div fxLayout="column">
      <div fxFlex="grow" fxFlexOffset="2">
        <app-solar-detail></app-solar-detail>
      </div>
    </div>
  </md-tab>

  <md-tab label="Battery">
    <div fxLayout="column">
      <div fxFlex="grow" fxFlexOffset="2">
        <app-battery-detail></app-battery-detail>
      </div>
    </div>
  </md-tab>

</md-tab-group>
