<md-tab-group>
  <!--<md-tab label="Dashboard">-->
    <!--<h1>Show consolidated data</h1>-->
  <!--</md-tab>-->
  <md-tab label="Consumption">
    <div fxLayout="column">
      <div fxFlex="grow" fxFlexOffset="2">
        <h1>Show consumption</h1>
      </div>
    </div>
  </md-tab>
  <md-tab label="Solar">
    <div fxLayout="column">
      <div fxFlex="grow" fxFlexOffset="2">
        <h1>Show solar data</h1>
      </div>
    </div>
  </md-tab>
  <md-tab label="Battery">
    <div fxLayout="column">
      <div fxFlex="grow" fxFlexOffset="2">
        <h1>Show battery data</h1>
      </div>
    </div>
  </md-tab>
</md-tab-group>
